#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10dvh;
    width: 100dvw;

    background-color: var(--element-bg);

    h1 {
        margin-left: 2rem;
    }
}