#theme-switcher {
    background-color: var(--element-bg);
    color: var(--font-colour);

    margin: 1rem;

    height: 7.5vh;
    width: auto;

    border: none;
    clip-path: circle(50% at 50% 50%);
}

#theme-icon {
    height: 100%;
    width: 100%;
    filter: var(--img-filter);
}
