@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --scrollbar-color: auto;
    --body-bg: #fafafa;
    --element-bg: #ffffff;
    --font-colour: #000000;
    --img-filter: none;

    &[data-theme="dark"] {
        --scrollbar-color: #888888 #121212;
        --body-bg: #121212;
        --element-bg: #1e1e1e;
        --font-colour: #ffffff;
        --note-bg: rgba(255, 255, 255, 0.06);
        --img-filter: invert();
    }
}

* {
    box-sizing: border-box;
}

html {
    scrollbar-color: var(--scrollbar-color);
}

body {
    font-family: "Roboto", "Trebuchet MS";
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    
    background-color: var(--body-bg);
    color: var(--font-colour);

    position: relative;
    text-align: center;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}